@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="slide-cal" >
        <ChilContent><h1>Calculadora IMC</h1></ChilContent>
    </Slide>

    <Slide Id="slide-hist">
        <ChilContent><h1>Histórico</h1></ChilContent>
    </Slide>

    <Slide Id="slide-about">
        <ChilContent><h1>Sobre</h1></ChilContent>
    </Slide>
</div>

