@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator" >
        <ChilContent>
            <img src="images/icon-no-bg.png" alt="Calculadora de IMC" />
            <h1>Calculadora de IMC</h1>
            <Calculator />
        </ChilContent>
    </Slide>

    <Slide Id="history">
        <ChilContent><History/></ChilContent>
    </Slide>

    <Slide Id="about">
        <ChilContent><h1>Sobre</h1></ChilContent>
    </Slide>
</div>

